body {
  font-family: Helvetica, sans-serif;
  font-size: 1.375rem;
  color: seashell; 
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* header starts here*/
/* navigation bar */
nav { 
  border-bottom: 1px solid seashell;
  height: 4.3125rem;
  width: 100%;
  min-width: 58rem;
  position: fixed;
  background-color: black;
  top: 0;
  z-index: 10;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 3.55rem;
}

li {
  display: inline;
  margin: 0 1.5rem;
}

nav p {
  position: relative;
  bottom: 1.45rem;
  font-family: 'Monofett', cursive;
  font-size: 3rem;
  color: beige;
  margin: 0 1.5rem;
}

a {
  color: seashell;
}

/* page description */
.page-title {
  background-image: url('https://res.cloudinary.com/doaazgsrk/image/upload/v1593536301/Beige/title_nbetk7.jpg');
  background-size: cover;
  width: 80%;
  height: 40rem;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  width: 43%;
  border: 0.4rem double beige;
  background-color: rgba(0,0,0,0.8);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
}

.message h1 {
  font-family: 'Sail', cursive;
  margin: 0;
  font-size: 5rem;
}

.message p {
  margin: 0;
  font-size: 2rem;
}

/* header ends here */

/* main starts here */
main {
  width: 1000px;
  margin: 0 auto;
  margin-top: 70px;
}

.options h2 {
  margin-bottom: 15px;
}

.options h4 {
  margin-bottom: 10px;
  margin-top: 0px;
}

.teas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teas div {
  margin: 16.670px;
  margin-bottom: 0px;
}

.teas img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.teas h4 {
  margin-bottom: 10px;
}
/* main ends here */

/* footer starts here */
/* location */
#location-header {
  position: relative;
  margin-top: 5px;
  top: 140px;
}

.location {
  background-image: url('../imgs/locations.jpg');
  width: 1200px;
  height: 570px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.location div{
  background-color: black;
  opacity: 1;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

/* contact */
.contact {
  height: 200px;
}

.contact h2 {
  margin-top: 10px;
}

/* copyright */

#copyright {
  margin-left: 20px;
  text-align: left;
}