body {
  font-family: Helvetica, sans-serif;
  font-size: 1.375rem;
  color: seashell; 
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
}

/* header starts here*/
/* navigation bar */
nav { 
  border-bottom: 1px solid seashell;
  height: 4.3125rem;
  width: 100%;
  min-width: 60rem;
  position: fixed;
  background-color: black;
  top: 0;
  z-index: 10;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: 3.55rem;
}

li {
  display: inline;
  margin: 0 1.5rem;
}

nav p {
  position: relative;
  bottom: 1.45rem;
  font-family: "Monofett", cursive;
  font-size: 3rem;
  color: beige;
  margin: 0 1.5rem;
}

a {
  color: seashell;
}

#about-section, #feature-section, #news-section, #contact-section { /* add to this */
  scroll-margin-top: 8rem;
}

/* page description */
.page-title {
  background-image: url("https://res.cloudinary.com/doaazgsrk/image/upload/v1593536301/Beige/title_nbetk7.jpg");
  background-size: cover;
  width: 80%;
  min-width: 30rem;
  height: 40rem;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  width: 43%;
  border: 0.4rem double beige;
  background-color: rgba(0,0,0,0.8);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
}

.message h1 {
  font-family: "Sail", cursive;
  margin: 0;
  font-size: 5rem;
}

.message p {
  margin: 0;
  font-size: 2rem;
}

/* header ends here */

/* main starts here */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100rem;
  justify-content: space-between;
}

#about-section {   /* about-section starts here */
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 25rem 20rem;
  grid-template-rows: 4rem 26rem;
  grid-column-gap: 1.3rem;
  grid-template-areas:
     "header header"
     "p img";
}

#about-section h2 {
  grid-area: header;
  align-self: flex-start;
  width: 100%;
}

#about-section img {
  grid-area: img;
  height: 22.825rem;
  width: auto;
  margin-top: 1.8rem;
}

#about-section p {
  grid-area: p;
  text-align: left;
}

#feature-section { /* feature-section starts here */
  display: grid;
  grid-template-columns: repeat(3, 15rem);
  grid-template-rows: 10rem 1fr;
  grid-column-gap: 1.5rem;
}

#feature-section img {
  width: 100%;
  height: 15rem;
}

#interview, #family, #date {
  content: "";
}

#interview:hover, #family:hover, #date:hover {
  border: 0.1rem solid beige;
  transform: scale(1.1);
}

.options {
  grid-column: 1 / 4;
}

#news-section form { /* news-section starts here */
  display: grid;
  grid-template-columns: minmax(15rem, 46rem);
  grid-template-rows: 5rem 8rem 8rem 2rem; 
  grid-gap: 1.5rem;
}

#news-section figure {
  display: flex;
  margin: 0;
  border: 0.0625rem solid beige;
  box-shadow: 0.1rem 0.2rem 1.25rem rgba(255,255,255,0.19), 0.2rem 0.3rem 0.375rem rgba(255,255,255,0.23);
  content: "";
}

#news-section figure:hover {
  transform: scale(1.1);
}

#news-section h3 {
  font-size: 1.2rem;
  margin: 0;
  text-align: left;
}

#news-section p {
  font-size: 1rem;
  margin: 0;
  text-align: left;
}

input[type="image"] {
  height: 100%;
  width: 10rem;
  margin-right: 1rem;
}

button[type="submit"] {
  content: "";
  width: 3rem;
  justify-self: center;
}

button[type="submit"]:hover {
  background-color: grey;
  color: white;
}

/* main ends here */

/* footer starts here */
/* location */
footer {
  margin-top: 30rem;
}
#location-header {
  position: relative;
  margin-top: 70px;
  top: 140px;
}

.location {
  background-image: url("../imgs/locations.jpg");
  width: 1200px;
  height: 570px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.location div{
  background-color: black;
  opacity: 1;
  width: 300px;
  margin-left: 20px;
  margin-right: 20px;
}

/* contact */
.contact {
  height: 200px;
}

.contact h2 {
  margin-top: 10px;
}

/* copyright */

#copyright {
  margin-left: 20px;
  text-align: left;
}